.app-sec {
    padding: 30px 0;
    background: $clr-root;

    .sec-head {
        margin-bottom: 20px;
        // text-align: center;

        p {
            font-size: 15px;
        }

    }

    .sec-title {
        font-size: 16px;
        // text-transform: uppercase;
        color: $clr-default;
        font-weight: $font-medium;
        position: relative;

        .sm-text {
            font-size: 16px;
            color: #a3a3a3;
            display: block;
            margin-bottom: 12px;
            font-weight: 400;
            letter-spacing: 3px;
        }

        .see-all {
            position: absolute;
            right: 0px;

            a {
                font-size: 14px;
                font-weight: normal;
                color: #555555 !important;
            }
        }

        &.search-result-text {
            span {
                font-size: 28px;
                color: #555555;
                font-weight: $font-normal;
            }
        }

        &.typ-big {
            font-size: 28px;
            color: #555555;
            margin-bottom: 50px;
            font-weight: $font-normal;
        }
    }

    .sub-title {
        text-align: center;
        font-size: 16px;
        color: #a3a3a3;
        display: block;
        font-weight: 700;
        text-transform: uppercase; // margin-bottom: 30px;
    }

    .sec-cont {
        overflow: hidden;
    }

    &.typ-big {
        .sec-head {}

        .sec-title {
            font-size: 30px;
            color: #555555;
            font-weight: $font-semi-bold;
            position: relative;

            .sm-text {}

            .see-all {
                a {}
            }
        }

        .sub-title {}

        .sec-cont {}
    }

    &.typ-centred {
        .sec-head {}

        .sec-title {
            text-align: center;
        }

        .sub-title {}

        .sec-cont {}
    }
}

.swiper-container {
    width: 100%;
}

.action-cta {
    margin-top: 25px;
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    button {
        width: 48%;

    }
}