.modal-collapse {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.modal-collapse .panel-title {
    margin-bottom: 10px;
}


.modal-collapse .panel-collapse {
    margin-bottom: 15px;
}

.salesweb .modal-dialog {
    width: 992px!important;
    @media(max-width:768px){
        width: 90%!important;
    }
    @media(max-width:480px)and(min-width:320px){
        width: auto!important;
    }
}

.salesweb .day-fulldate {
    margin-bottom: 30px;
}

.salesweb .day-fulldate .day,
.salesweb .day-fulldate .date {
    display: inline-block;
}


.salesweb .transperent .form-control {
    background: transparent;
}

.salesweb .panel-collapse table {
    margin-bottom: 0px;
}

.salesweb .panel-collapse .table>tbody>tr>td {
    padding: 8px 0px;
    @media(max-width:480px)and(min-width:320px){
        padding: 8px 10px;
    }
}

.salesweb .xpertz-radio-group {
    display: inline;
    margin-left: 15px;
}

.salesweb .sorting-options {
    margin-bottom: 20px;
}

.xpertz-radio-group.extra-radius div [type="radio"]:checked+label:before,
.xpertz-radio-group.extra-radius div [type="radio"]:not(:checked)+label:before,
.xpertz-radio-group.extra-radius div [type="radio"]:checked+label:after,
.xpertz-radio-group.extra-radius div [type="radio"]:not(:checked)+label:after {
    border-radius: 30px;
}


.xpertz-radio-group.extra-radius div [type="radio"]:checked+label,
.xpertz-radio-group.extra-radius div [type="radio"]:not(:checked)+label {
    padding: 7px 15px;

    min-width: 75px;
    font-size: 12px;
}