.app-sec {
    padding: 10px 0;
    background: $clr-root;

    .sec-head {
        margin-bottom: 20px;
        // text-align: center;

        p {
            font-size: 15px;
        }
    }

    .sec-title {
        font-size: 16px;
        // text-transform: uppercase;
        color: $clr-default;
        font-weight: $font-semi-bold;

        .sm-text {
            font-size: 16px;
            color: #a3a3a3;
            display: block;
            margin-bottom: 12px;
            font-weight: 400;
            letter-spacing: 3px;
        }
    }

    .sub-title {
        text-align: center;
        font-size: 16px;
        color: #a3a3a3;
        display: block;
        font-weight: 700;
        text-transform: uppercase; // margin-bottom: 30px;
    }

    .sec-cont {
        overflow: hidden;
    }
}

.swiper-container {
    width: 100%;
}