/* xpertz-footer */
footer {
    margin-top: 50px;
}

.xpertz-footer {
    width: 100%;
    background: $clr-default;
    padding: 50px 0px;

    ul {
        padding: 0px;

        li {
            display: block;
            list-style: none;

            a {
                display: block;
                color: $clr-root;
                line-height: 25px;
                font-weight: normal;
            }
        }
    }

    .subscribe-form {
        label {
            color: #ffffff;
            font-size: 14px;
            font-weight: $font-light;
            margin-bottom: 15px;
        }

        .form-control {
            padding: 12px 15px;
            border: none;
            border: 1px solid #eeeeee;
            font-weight: 400;
            color: #ffffff;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }

    p {
        color: $clr-root;
        line-height: 25px;
        font-weight: $font-light;
    }

    .copy {
        padding: 50px 0px 0px 0px;

        .copyright {
            margin-top: 15px;
        }
    }
}


/* xpertz-footer */

@media screen and (max-width:48px) {
    .xpertz-footer {
        margin-top: 0;
    }
}