/* xpertz-footer */
footer {
    margin-top: 50px;
}

.xpertz-footer {
    width: 100%;
    background: $clr-default;
    margin-top: 25px;
    padding: 25px 0px;

}


/* xpertz-footer */

@media screen and (max-width:48px) {
    .xpertz-footer {
        margin-top: 0;
    }
}