.navbar-nav .x-menu a {
    color: #545c62;
    &:hover,&:focus{
        background-color: none;
    }
}
.navbar-nav .dropdown a {
    color: #545c62;
    &:hover,&:focus{
        background-color: none;
    }
}
