.categories {
    text-align: center;

    .cat-list {
        ul {
            padding: 0px;
            text-align: initial;

            li {
                list-style: none;
                display: inline-block;
                margin-right: 12px;
                margin-bottom: 15px;

                a {
                    display: inline-block;
                    padding: 8px 15px;
                    color: #919191;
                    background-color: #9191911D;
                    border-radius: 20px;
                    font-size: 14px;
                    transition: background-color 0.3s ease-in-out;
                    transition: color 0.2s ease-in-out;

                    &:hover {
                        transition: background-color 0.3s ease-in-out;
                        transition: color 0.2s ease-in-out;
                        background-color: #b1e1ff;
                        color: $clr-default;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media(max-width:480px) {
        .cat-list {
            width: 100%;
            overflow-x: scroll;

            ul {
                padding: 0px;
                text-align: initial;
                width: 1400px;

                li {
                    a {
                        &:hover {}
                    }
                }
            }
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}