.login-cont {
    padding: 20px 50px;

    h2 {
        font-size: 24px;
        font-weight: $font-normal;
        color: $clr-default;
        margin: 20px 0px;
    }

    form {
        .form-control {
            padding: 15px 10px;
            border: 1px solid $clr-default;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: #000;
            position: relative;
            box-shadow: none;
            height: auto;
            border-radius: 5px;
            background-color: transparent;
        }

        .forget-pass {
            color: $clr-default;
            text-align: right;
            margin-bottom: 10px;
            font-size: 12px;
        }

        .or {
            margin: 15px 0px;
            text-align: center;
            font-weight: $font-light;
        }

        .alt-login {
            width: 100%;

            button {
                width: 100%;
                color: #555555 !important;
            }
        }

        .signup-link {
            color: $clr-default;
            margin-top: 35px;

            a {
                font-weight: $font-semi-bold;
            }
        }

        .form-group {
            position: relative;

            .show-pass {
                position: absolute;
                z-index: 1;
                right: 0px;
                bottom: 0px;
                padding: 15px 10px;
                font-size: 14px;
                line-height: 16px;

                &:hover {
                    text-decoration: none;
                    color: #555555;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 20px 25px;

        h2 {
            font-size: 18px;
            font-weight: $font-normal;
            color: $clr-default;
            margin: 10px 0px;
        }

        form {
            .alt-login {
                button {
                    margin-bottom: 15px;

                    .btn {
                        &.btn-default {
                            &.typ-outline {
                                &:hover {
                                    background: rgba(0, 111, 188, 0.447) !important;
                                    color: #ffffff !important;
                                }
                            }
                        }
                    }
                }
            }

            .signup-link {
                color: $clr-default;
                margin-top: 15px;

                a {
                    font-weight: $font-semi-bold;
                }
            }
        }
    }
}

.signup-cont {
    padding: 20px 50px;

    h2 {
        font-size: 24px;
        font-weight: $font-normal;
        color: $clr-default;
        margin: 20px 0px;
    }

    form {
        .form-group {
            position: relative;
            margin-bottom: 25px;

            label {
                // position: absolute;
                color: $clr-default;
                z-index: 2;
                background: $clr-root;
                top: -6px;
                left: 10px;
                padding: 0px 4px;
            }

            .show-pass {
                position: absolute;
                z-index: 1;
                right: 0px;
                bottom: 0px;
                padding: 15px 10px;
                font-size: 14px;
                line-height: 16px;

                &:hover {
                    text-decoration: none;
                    color: #555555;
                }
            }

            &.timezone-l {
                .form-control {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }

                .floating {
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    font-size: 10px;
                    font-style: normal;
                    text-transform: uppercase;
                    background-color: rgba(0, 0, 0, 0);
                    transform: translateY(-50%);
                    margin: 0px 0px 0px -3px;
                    padding: 1px 3px;
                    color: rgb(0, 0, 0);
                    line-height: 1;
                    transition-property: all;
                    transition-duration: 0.2s;
                }
            }
        }

        .form-control {
            padding: 15px 10px;
            border: 1px solid $clr-default;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: #000;
            position: relative;
            box-shadow: none;
            height: auto;
            border-radius: 5px;
            background-color: transparent;
        }

        .in-group {
            display: flex;

            .form-group {
                position: relative;

                label {
                    // position: absolute;
                    color: $clr-default;
                    z-index: 2;
                }

                &.code {
                    width: 30%;
                    margin-right: 6px;

                    .form-control {
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }

                    .floating {
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        font-size: 10px;
                        font-style: normal;
                        text-transform: uppercase;
                        background-color: rgba(0, 0, 0, 0);
                        transform: translateY(-50%);
                        margin: 0px 0px 0px -3px;
                        padding: 1px 3px;
                        color: rgb(0, 0, 0);
                        line-height: 1;
                        transition-property: all;
                        transition-duration: 0.2s;
                    }
                }

                &.phone {
                    width: 70%;
                    margin-left: 6px;

                }


            }

            .form-control {
                margin-bottom: 0px;
            }
        }

        .or {
            margin: 15px 0px;
            text-align: center;
            font-weight: $font-light;
        }

        .alt-login {
            width: 100%;

            button {
                width: 100%;
            }
        }

        .signup-link {
            color: $clr-default;
            margin-top: 15px;
            text-align: center;

            a {
                font-weight: $font-semi-bold;
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 20px 25px;

        h2 {
            font-size: 18px;
            font-weight: $font-normal;
            color: $clr-default;
            margin: 10px 0px 20px;
        }

    }
}