.user-profile {
    .media {
        margin-bottom: 25px;

        .media-body {
            h4.media-heading {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }

    .user-detail-section {
        margin: 0 auto;
        max-width: 350px;

        .styl-round {
            border-radius: 25px !important;
        }



        .user-details {

            p {
                padding: 8px 0px;
            }
        }

        .product-img {
            max-width: 200px;

            img {
                width: 100%;
            }
        }

        h3 {
            font-size: 20px;
            color: #555555;
        }

        p {
            font-size: 14px;
            color: #A1A1A1;
        }

        .price {
            margin-top: 20px;

            div {
                font-size: 30px;
                font-weight: $font-bold;
                color: #191919;
            }

            small {
                font-size: 12px;
                font-weight: $font-medium;
                color: $clr-default;
            }
        }

        .cta {
            margin-top: 10px;
        }

        @media(max-width:480px) {
            margin-bottom: 25px;

            .product-img {
                text-align: center;
                margin: 0 auto;
            }
        }
    }



    &.typ-upcoming-interview {
        .user-detail-section {
            .media-heading {
                font-size: 20px;
                font-weight: $font-bold;
            }
        }

        .media {
            margin-bottom: 50px;

            .date {
                font-weight: $font-bold;

                span {
                    font-weight: $font-medium;
                    display: inline-block;
                }
            }
        }
    }
}